<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP WEB | Sentiment Analysis</title>
    <link rel="stylesheet" href="../static/ner_style.css"> <!-- Linking the external CSS file -->
</head>
<body>

    <div class="container">
        <h2>Sentiment Analysis</h2>
        <form action="/perform_sentiment_analysis" method="post">
            <label>Enter your text here:</label><br>
            <textarea name="text" placeholder="Type your text..."></textarea><br>
            <input type="submit" value="Generate">
        </form>

        {% if result %}
            <div class="result-box">
                <h3>Sentiment Analysis Output:</h3>
                <p>{{ result | safe }}</p>
            </div>
        {% endif %}

    </div>

    <a href="/home" class="back-btn"> 🔙 Go Back to Homepage </a>


</body>
</html>
